:root {
    --body-background: #1e1e1e;
    --menu-a-hover: #333333;
    
    --menu-toggle-bg: #1e1e1e;
    --menu-toggle-color: #ffffff;
    
    --main-box-bg: #d9d9d9;
    --main-box-hover: #ef4149;

    --main-box-before: #ffffff;
    --main-box-before-hover: #f75d64;
    
    --main-box-after: #f2f2f2;
    --main-box-after-hover: #f14e55;

    --footer-color: #000000;

    --modal-bg: #1e1e1e;
    --modal-color-1: #ff359b;
    --modal-color-2: #fffd87;
    --modal-color-3: #00d2ff;

    --modal-box-square-bshadow: rgba(0, 0, 0, 0.1);
    --modal-box-square-border-base: rgba(255, 255, 255, 0.5);
    --modal-box-square-border: rgba(255, 255, 255, 0.2);
    --modal-box-square-bg: rgba(255, 255, 255, 0.1);

    --modal-container-bg: rgba(255, 255, 255, 0.1);
    --modal-container-bshadow: rgba(0, 0, 0, 0.1);
    --modal-container-border-base: rgba(255, 255, 255, 0.5);
    --modal-container-border: rgba(255, 255, 255, 0.2);

    --modal-h1-color: #ffffff;
    --modal-h1-before-bg: #ffffff;

    --modal-p-color: #ffffff;

    --modal-form-h2-color: #ffffff;
    --modal-form-h2-before-bg: #ffffff;

    --modal-form-input-bg: rgba(255, 255, 255, 0.2);
    --modal-form-input-border-base: rgba(255, 255, 255, 0.5);
    --modal-form-input-border: rgba(255, 255, 255, 0.2);
    --modal-form-input-color: #000000;
    --modal-form-input-bshadow: rgba(0, 0, 0, 0.05);

    --modal-form-input-ph-color: #ffffff;

    --modal-form-input-sm-bg: #ffffff;
    --modal-form-input-sm-color: #666666;

    --modal-forget-color: #ffffff;
    --modal-forget-a-color: #ffffff;

    --modal-btn-close-color: #000000;
    --modal-btn-close-hover-color: #ff0000;
}
