* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex; */
    /* justify-content: right; */
    /* align-items: top; */
    /* min-height: 100vh; */
    background: #2f363e;
}

.topmenu {
    display: flex;
    position: fixed;
    right: 10px;
    top: 10px;
}

.menu {
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    transform: rotate(-90deg);
}

.menu li {
    position: absolute;
    left: 110px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(0deg) translateX(110px);
}

.menu.active li {
    transform: rotate(calc(360deg / 11 * var(--i))) translateX(0px);
}
.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -11 * var(--i) + 90deg));
    transition: 1s;
}
.menu li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}

.menu .toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 500;
    font-size: 2em;
    transition: transform 1.25s;
}

.menu.active .toggle {
    transform: rotate(315deg);
}