*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #25335b;
}

.container
{
    position: relative;
    top: -80px;
    transform: skewY(-20deg);
}
.container .cube
{
    z-index: 2;
}
.container .cube div
{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    translate: calc(-70px * var(--x))
}
.container .cube div span
{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #dcdcdc;
    z-index: calc(1 * val(--i));
}
